<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Altimetrik Hotels", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "My Bookings", user_path(id: 1) %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
